<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drinks Index Page</title>
    <style>
        body {
            background-color: rgb(9, 10, 11);
            color: blanchedalmond;
        }
    </style>
</head>
<body>
   <h1>Welcome to GitPub</h1> 

</body>
</html>