<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drinks show page</title>
</head>
<body>
    <h1>AT FOO BAR</h1>

    <h2>
        <%= drink.name ;%>
    </h2>
<img src="<%= drink.image + '.jpg'%>" alt="">
<h3>
    The price is : $<%= drink.price %> 
</h3>
<p>
<a href="/drinks">Back to Index Page</a>
</p>
</body>
</html>