<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food show page</title>
</head>
<body>
    <h1><%= food.name%></h1>
    <h2>The price is $ <%=food.price%></h2>
    <img src="<%=food.image%>" alt="">

    <p>
        <a href="/food">Back to Index Page</a>
    </p>
</body>
</html>